<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppName" value=""/>
    <add key="Version" value="1.0.0"/>
  </appSettings>
  
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Data Source=localhost;Initial Catalog=CommerceAppDB;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
  </system.web>
</configuration>
